<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClaimsNoGetReportImage</key>
	<string>/claims/getReportImage</string>
	<key>ClaimsInsert</key>
	<string>/claims/insert</string>
	<key>ClaimsDelete</key>
	<string>/claims/delete</string>
	<key>ClaimsUpdate</key>
	<string>/claims/update</string>
	<key>ClaimsDetail</key>
	<string>/claims/detail</string>
	<key>getVisitInfoV2</key>
	<string>/visit/getVisitInfoV2</string>
	<key>hospitalSatisfaction</key>
	<string>/hospitalSatisfaction/insert</string>
	<key>customerSatisfaction</key>
	<string>/guestSatisfaction/insert</string>
	<key>getClaim</key>
	<string>/claims/list</string>
	<key>getMedicalRecords</key>
	<string>/visit/list</string>
	<key>getClaimState</key>
	<string>/claims/getState</string>
	<key>baseURL</key>
	<string>https://180.169.59.202:8080/MSHPadService/pad</string>
	<key>baseURLInner</key>
	<string>https://192.168.1.222:8080/MSHPadService/pad</string>
	<key>baseURLFinal</key>
	<string>https://appmember.mshchina.com:8092/MSHPadService/pad</string>
	<key>baseURLInnerFinal</key>
	<string>https://appmember.mshchina.com:8092/MSHPadService/pad</string>
	<key>login</key>
	<string>/provider/login</string>
	<key>updatePassword</key>
	<string>/provider/updatePasswd</string>
	<key>getAccountList</key>
	<string>/Other/getAccountList</string>
	<key>getProviderInfo</key>
	<string>/Other/getProviderById</string>
	<key>getContactInfo</key>
	<string>/Other/contactInfo</string>
	<key>getCopayInfo</key>
	<string>/Other/queryCopay</string>
	<key>getVersionInfo</key>
	<string>/Other/versionInfo</string>
	<key>updateLocation</key>
	<string>savePadPlace</string>
	<key>getMemberInfo</key>
	<string>/visit/getMemberInfo</string>
	<key>getVisitInfo</key>
	<string>/visit/getVisitInfo</string>
	<key>getNews</key>
	<string>/synchr/newsInfo</string>
	<key>syncVisitInfo</key>
	<string>/synchr/visit</string>
	<key>syncPhoto</key>
	<string>/synchr/picture</string>
	<key>syncClientRecord</key>
	<string>/synchr/regCust</string>
	<key>getAuthList</key>
	<string>/authorization/list</string>
	<key>submitApply</key>
	<string>/authorization/apply</string>
	<key>modifyApply</key>
	<string>/authorization/modify</string>
	<key>getBackMailInfo</key>
	<string>/authorization/viewLetter</string>
	<key>getAuthDetail</key>
	<string>/authorization/viewDetail</string>
	<key>sendMail</key>
	<string>/visit/sendCopayEmail</string>
	<key>deleteAuth</key>
	<string>/authorization/deleteAuthorization</string>
	<key>recordLocation</key>
	<string>/savePadPlace</string>
	<key>encryptParmas</key>
	<string>/encrypt</string>
</dict>
</plist>
